  .skill-container {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 1em;
    border:1px solid var(--white);
    min-height: 30vh;
  }

  .Arthas{
    text-align: justify;
    margin: auto;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: var(--blue);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 1em;
  }
    
  .skill{
    padding-bottom: 2%;
    /*border-top:1px solid var(--white);
    border-left:1px solid var(--white);
    border-right:1px solid var(--white);*/
    border:1px solid var(--white);
  }

  .skill-container .skill {
    display: block;
    margin: auto;
    width: 50%;
  }

  .pbar-container {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    display: block;
    padding-top: 2.5px;
  }
  
  .pbar-container .progressBar {
    background-color: var(--white);
    height: 100%;
    border-radius: 10px;
  }
  
  .animate-progress-bar {
      animation: AnimationProgressBar 5s ease-in-out;
  }
  
  .w-100 {
    max-width: 100%;
  }
  
  .w-75 {
    max-width: 75%;
  }
  
  .w-25 {
    max-width: 25%;
  }
  
  @keyframes AnimationProgressBar {
    0% {width: 0%;}
    100% {width: 100%;}
  }

  @media screen and (min-width: 250px) {
    .skill-container{
        font-size:1.166em;  
    }
    .Arthas{
        font-size:1.166em; 
    }
}

  @media screen and (min-width: 360px) {
    .skill-container{
        font-size:1.33em;  
    }
    .Arthas{
        font-size:1.33em; 
    }
}

@media screen and (min-width: 768px) {
    .skill-container{
        font-size:1.66em;  
    }
    .Arthas{
        font-size:1.66em; 
    }
}